temp-test-mule/src/main/resources/StdCalculateur.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://standard/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   name="StdCalculateurService" 
targetNamespace="http://standard/">
	<types>
	    <xsd:schema targetNamespace="http://standard/" version="1.0">
			<xsd:element name="add" type="tns:add"/>
			<xsd:element name="addResponse" type="tns:addResponse">
			</xsd:element>
			<xsd:element name="mult" type="tns:mult">
			</xsd:element>
			<xsd:element name="multResponse" type="tns:multResponse">
			</xsd:element>
			<xsd:complexType name="add">
				<xsd:sequence>
					<xsd:element name="x" type="xsd:double"/>
					<xsd:element name="y" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="addResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="mult">
				<xsd:sequence>
					<xsd:element name="x" type="xsd:double"/>
					<xsd:element name="y" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="multResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="mult">
		<part element="tns:mult" name="parameters"/>
	</message>
	<message name="multResponse">
		<part element="tns:multResponse" name="parameters"/>
	</message>
	<message name="add">
		<part element="tns:add" name="parameters"/>
	</message>
	<message name="addResponse">
		<part element="tns:addResponse" name="parameters"/>
	</message>
	<portType name="StdCalculateur">
		<operation name="mult">
			<input message="tns:mult"/>
			<output message="tns:multResponse"/>
		</operation>
		<operation name="add">
			<input message="tns:add"/>
			<output message="tns:addResponse"/>
		</operation>
	</portType>
    
	<binding name="StdCalculateurBinding" type="tns:StdCalculateur">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="mult">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="add">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<service name="StdCalculateurService">
		<port binding="tns:StdCalculateurBinding" name="StdCalculateurPortEsb">
			<soap:address location="http://localhost:8081/StdCalculateurPort"/>
		 	
		</port>
	</service>

	
	
</definitions>
